@import "../../sass/partials/variables";
.CardImageClass{
    max-width: 345px
  }
.MediaClass{
    height: 263px!important;
    padding-top: 56.25%;
    background-size: contain!important;
  }
.BookDetailsClass{
  margin-top: 20px;
  width: 75%;
}
.BookDetailsTitle{
  margin-top: 6px;
}

.RowDetailsClass{
  padding: $element-padding-top-bottom!important;
  display: flex;
  align-items: center;
}

span{
  margin-right: 5px;
}
