.SectionPaddingClass{
  padding: 5px 0px;
}
.DescriptionContentClass{
  height: 635px;
  overflow: auto;
}
.AuthorContainerClass{
  display: flex;
  align-items: center;
}
.RatingContainerClass{
  margin-left: -13px;
  span{
    width:12px!important;
  }
}