@import '../../../sass/partials/variables';

.EditorsSelectionContainer{
  padding: 40px 100px;
}
.EditorsImgSelectionContainer{
    height: 140px
}

.TitlePadding{
  padding-bottom:$padding-bottom-45

}
