@import "../../../sass/partials/variables";
.BookSearchContainer{
  padding: $padding-45;

  .ButtonContainer{
    margin: 0 auto;
    width: fit-content;
    padding-top: $padding-45;

    .OrClass{
      padding: 0 15px;
    }
}
}

.AdvancedSearchClass{
  position: relative;
  top: 10px;
}


