.CardRoot{
    max-width: 345px;
}

.CardMedia{
    height: 200px;
    background-size: auto!important;
}

.RatingContainerClass{
    margin-left: -5px;
    span{
        width:18px!important;
    }
}